<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Bad Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {# alternative href without using url_for ----> /static/css/main.css #}
</head>

<body>
    {# from solution ---> nav bar to return to home (/orders) page #}
    {# <nav>
        <ul>
            <li class="navLink"><a href="/orders">Home</a></li>
        </ul>
    </nav> #}
    <h1>Order Details</h1>
    <div style="overflow-x:auto;">
        <table>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Order Date</th>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Quantity</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td> {{ order.customer_name }}</td>
                    <td> {{ order.order_date }}</td>
                    <td> {{ order.book_title }}</td>
                    <td> {{ order.author }}</td>
                    <td> {{ order.quantity }}</td>
                </tr>
            </tbody>
        </table>
    </div>


</body>

</html>